@{
    ViewData["Title"] = "Welcome";
}
<div class="text-center">
    <h1 class="display-6">Car Rental Management System</h1>
    <p class="lead">Please log in to continue.</p>
    <a class="btn btn-primary" asp-controller="Account" asp-action="Login">Login</a>
    <a class="btn btn-outline-secondary ms-2" asp-controller="Account" asp-action="Register">Register</a>
</div>